<nav class="navbar navbar-expand-lg navbar-dark bg-dark ft-primario bg-primario">
  <a class="navbar-brand" [routerLink]="['']">COBASI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['']">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-2">
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle ft-primario" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Minha Conta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['conta']">Minha Conta</a>
          <a class="dropdown-item" href="#">Sair</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="mini-container">
  <router-outlet></router-outlet>
</div>

<!-- 
<app-cobasi-footer></app-cobasi-footer> -->