<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Nome    </span>
  </div>
  <input type="text" class="form-control" value="Raphael Blefari" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Email     </span>
  </div>
  <input type="text" class="form-control" value="blefari_101@hotmail.com" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Telefone</span>
  </div>
  <input type="text" class="form-control" value="(11) 91111-1111" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>
