<table class="table table-hover">
  <thead class="bg-primario">
    <tr>
      <th scope="col"></th>
      <th scope="col">Pedido</th>
      <th scope="col">Qtd</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <img height="50" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000">
      </td>
      <td>#0001</td>
      <td>1x</td>
      <td>R$ 19,90</td>
    </tr>
    <tr>
        <td>
          <img height="50" src="https://cobasi.vteximg.com.br/arquivos/ids/179635-170-170/Racao-Club-Performance-Adulto-Royal-Canin.jpg?v=636008200384600000">
        </td>
        <td>#0002</td>
        <td>2x</td>
        <td>R$ 39,00</td>
      </tr>
      <tr>
          <td>
            <img height="50" src="https://cobasi.vteximg.com.br/arquivos/ids/185322-170-170/Petisco-Bifinho-de-Carne-para-Caes-Bilisko-65.jpg?v=636186084600800000">
          </td>
          <td>#0003</td>
          <td>4x</td>
          <td>R$ 153,10</td>
        </tr>
  </tbody>
</table>