<div class="container ">
  <div class="row">
    <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
      <div class="card card-home">
        <img class="card-img-top img-fluid" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000"
          alt="Card image cap">
        <div class="card-body">
          <h6 class=" descricao-prod text-center">
            Ração & Cereal para cachorros grandes e filhotes.</h6>
          <h4 class="text-center">
            R$ 19.90
          </h4>
          <a href="#" class="btn btn-success float-left">
            <i class="fas fa-cart-plus"></i>
          </a>
          <a href="#" class="btn btn-primary float-right">
            <i class="fas fa-eye"></i>
          </a>

        </div>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
      <div class="card card-home">
        <img class="card-img-top img-fluid" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000"
          alt="Card image cap">
        <div class="card-body">
          <h6 class=" descricao-prod text-center">
            Ração & Cereal para cachorros grandes e filhotes.</h6>
          <h4 class="text-center">
            R$ 19.90
          </h4>
          <a href="#" class="btn btn-success float-left">
            <i class="fas fa-cart-plus"></i>
          </a>
          <a href="#" class="btn btn-primary float-right">
            <i class="fas fa-eye"></i>
          </a>

        </div>
      </div>
    </div>


    <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
      <div class="card card-home">
        <img class="card-img-top img-fluid" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000"
          alt="Card image cap">
        <div class="card-body">
          <h6 class=" descricao-prod text-center">
            Ração & Cereal para cachorros grandes e filhotes.</h6>
          <h4 class="text-center">
            R$ 19.90
          </h4>
          <a href="#" class="btn btn-success float-left">
            <i class="fas fa-cart-plus"></i>
          </a>
          <a href="#" class="btn btn-primary float-right">
            <i class="fas fa-eye"></i>
          </a>

        </div>
      </div>
    </div>


    <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
      <div class="card card-home">
        <img class="card-img-top img-fluid" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000"
          alt="Card image cap">
        <div class="card-body">
          <h6 class=" descricao-prod text-center">
            Ração & Cereal para cachorros grandes e filhotes.</h6>
          <h4 class="text-center">
            R$ 19.90
          </h4>
          <a href="#" class="btn btn-success float-left">
            <i class="fas fa-cart-plus"></i>
          </a>
          <a href="#" class="btn btn-primary float-right">
            <i class="fas fa-eye"></i>
          </a>

        </div>
      </div>
    </div>


    <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
      <div class="card card-home">
        <img class="card-img-top img-fluid" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000"
          alt="Card image cap">
        <div class="card-body">
          <h6 class=" descricao-prod text-center">
            Ração & Cereal para cachorros grandes e filhotes.</h6>
          <h4 class="text-center">
            R$ 19.90
          </h4>
          <a href="#" class="btn btn-success float-left">
            <i class="fas fa-cart-plus"></i>
          </a>
          <a href="#" class="btn btn-primary float-right">
            <i class="fas fa-eye"></i>
          </a>

        </div>
      </div>
    </div>


    <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
      <div class="card card-home">
        <img class="card-img-top img-fluid" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000"
          alt="Card image cap">
        <div class="card-body">
          <h6 class=" descricao-prod text-center">
            Ração & Cereal para cachorros grandes e filhotes.</h6>
          <h4 class="text-center">
            R$ 19.90
          </h4>
          <a href="#" class="btn btn-success float-left">
            <i class="fas fa-cart-plus"></i>
          </a>
          <a href="#" class="btn btn-primary float-right">
            <i class="fas fa-eye"></i>
          </a>

        </div>
      </div>
    </div>

    <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
      <div class="card card-home">
        <img class="card-img-top img-fluid" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000"
          alt="Card image cap">
        <div class="card-body">
          <h6 class=" descricao-prod text-center">
            Ração & Cereal para cachorros grandes e filhotes.</h6>
          <h4 class="text-center">
            R$ 19.90
          </h4>
          <a href="#" class="btn btn-success float-left">
            <i class="fas fa-cart-plus"></i>
          </a>
          <a href="#" class="btn btn-primary float-right">
            <i class="fas fa-eye"></i>
          </a>

        </div>
      </div>
    </div>

    <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
      <div class="card card-home">
        <img class="card-img-top img-fluid" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000"
          alt="Card image cap">
        <div class="card-body">
          <h6 class=" descricao-prod text-center">
            Ração & Cereal para cachorros grandes e filhotes.</h6>
          <h4 class="text-center">
            R$ 19.90
          </h4>
          <a href="#" class="btn btn-success float-left">
            <i class="fas fa-cart-plus"></i>
          </a>
          <a href="#" class="btn btn-primary float-right">
            <i class="fas fa-eye"></i>
          </a>

        </div>
      </div>
    </div>


    <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
      <div class="card card-home">
        <img class="card-img-top img-fluid" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000"
          alt="Card image cap">
        <div class="card-body">
          <h6 class=" descricao-prod text-center">
            Ração & Cereal para cachorros grandes e filhotes.</h6>
          <h4 class="text-center">
            R$ 19.90
          </h4>
          <a href="#" class="btn btn-success float-left">
            <i class="fas fa-cart-plus"></i>
          </a>
          <a href="#" class="btn btn-primary float-right">
            <i class="fas fa-eye"></i>
          </a>

        </div>
      </div>
    </div>


    <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
      <div class="card card-home">
        <img class="card-img-top img-fluid" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000"
          alt="Card image cap">
        <div class="card-body">
          <h6 class=" descricao-prod text-center">
            Ração & Cereal para cachorros grandes e filhotes.</h6>
          <h4 class="text-center">
            R$ 19.90
          </h4>
          <a href="#" class="btn btn-success float-left">
            <i class="fas fa-cart-plus"></i>
          </a>
          <a href="#" class="btn btn-primary float-right">
            <i class="fas fa-eye"></i>
          </a>

        </div>
      </div>
    </div>


    <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
      <div class="card card-home">
        <img class="card-img-top img-fluid" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000"
          alt="Card image cap">
        <div class="card-body">
          <h6 class=" descricao-prod text-center">
            Ração & Cereal para cachorros grandes e filhotes.</h6>
          <h4 class="text-center">
            R$ 19.90
          </h4>
          <a href="#" class="btn btn-success float-left">
            <i class="fas fa-cart-plus"></i>
          </a>
          <a href="#" class="btn btn-primary float-right">
            <i class="fas fa-eye"></i>
          </a>

        </div>
      </div>
    </div>


    <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
      <div class="card card-home">
        <img class="card-img-top img-fluid" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000"
          alt="Card image cap">
        <div class="card-body">
          <h6 class=" descricao-prod text-center">
            Ração & Cereal para cachorros grandes e filhotes.</h6>
          <h4 class="text-center">
            R$ 19.90
          </h4>
          <a href="#" class="btn btn-success float-left">
            <i class="fas fa-cart-plus"></i>
          </a>
          <a href="#" class="btn btn-primary float-right">
            <i class="fas fa-eye"></i>
          </a>

        </div>
      </div>
    </div>



  </div>
</div>
