<div class="container ">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000"
          alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title">
            <b>Champ:</b> Ração & Cereal para cachorros grandes e filhotes.</h6>
          <h6 class="card-title">k
            <b>Valor:</b> R$ 19.90</h6>
          <br>
          <a href="#" class="btn btn-primary btn-success">Comprar</a>
          <a href="#" class="btn btn-primary btn-warning">Detalhes</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000"
          alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title">
            <b>Champ:</b> Ração & Cereal para cachorros grandes e filhotes.</h6>
          <h6 class="card-title">k
            <b>Valor:</b> R$ 19.90</h6>
          <br>
          <a href="#" class="btn btn-primary btn-success">Comprar</a>
          <a href="#" class="btn btn-primary btn-warning">Detalhes</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000"
          alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title">
            <b>Champ:</b> Ração & Cereal para cachorros grandes e filhotes.</h6>
          <h6 class="card-title">k
            <b>Valor:</b> R$ 19.90</h6>
          <br>
          <a href="#" class="btn btn-primary btn-success">Comprar</a>
          <a href="#" class="btn btn-primary btn-warning">Detalhes</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000"
          alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title">
            <b>Champ:</b> Ração & Cereal para cachorros grandes e filhotes.</h6>
          <h6 class="card-title">k
            <b>Valor:</b> R$ 19.90</h6>
          <br>
          <a href="#" class="btn btn-primary btn-success">Comprar</a>
          <a href="#" class="btn btn-primary btn-warning">Detalhes</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="https://cobasi.vteximg.com.br/arquivos/ids/189718-170-170/Champ-Carne-e-Cereais.jpg?v=636397957474130000"
          alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title">
            <b>Champ:</b> Ração & Cereal para cachorros grandes e filhotes.</h6>
          <h6 class="card-title">k
            <b>Valor:</b> R$ 19.90</h6>
          <br>
          <a href="#" class="btn btn-primary btn-success">Comprar</a>
          <a href="#" class="btn btn-primary btn-warning">Detalhes</a>
        </div>
      </div>
    </div>
  </div>
</div>
