<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="card mb-3">
      <div class="card-header  bg-primario">Padrão</div>
      <div class="card-body">
        <table>
          <tr>
            <th>Endereço:</th>

          </tr>
          <td>Rua Joaquin Pereira</td>
          <tr>
            <th>Número:</th>

          </tr>
          <tr>
            <td>340</td>


          </tr>
          <tr>
            <th>Complemento:</th>

          </tr>
          <tr>
            <td colspan="2">Casa 2 , Prédio Cobasi</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="card mb-3">
      <div class="card-header  bg-primario">Padrão</div>
      <div class="card-body">
        <table>
          <tr>
            <th>Endereço:</th>

          </tr>
          <td>Rua Joaquin Pereira</td>
          <tr>
            <th>Número:</th>

          </tr>
          <tr>
            <td>340</td>


          </tr>
          <tr>
            <th>Complemento:</th>

          </tr>
          <tr>
            <td colspan="2">Casa 2 , Prédio Cobasi</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="card mb-3">
      <div class="card-header  bg-primario">Padrão</div>
      <div class="card-body">
        <table>
          <tr>
            <th>Endereço:</th>

          </tr>
          <td>Rua Joaquin Pereira</td>
          <tr>
            <th>Número:</th>

          </tr>
          <tr>
            <td>340</td>


          </tr>
          <tr>
            <th>Complemento:</th>

          </tr>
          <tr>
            <td colspan="2">Casa 2 , Prédio Cobasi</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>